// Cap image size
img {
    max-width: 100%;
    max-height: 10em;
    margin: 0 auto;
    display: block;
}

// Info table
blockquote {
    td, th {
        text-align: center;
    }
}

// Image table
tbody>tr {
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.15) !important;
    }

    img {
        max-height: 3em;
    }
}

td, th {
    max-width: 0;
}
