<div class="parallax-wrapper">
    <div class="section valign-wrapper">
        <div class="container">
            <h1 class="header center white-text">DeCP Live</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">A high-throughput CBIR system</h5>
            </div>
            <div class="row center">
                <a mz-button [large]="'true'" routerLink="query">
                    Try it for free
                </a>
            </div>
        </div>
    </div>
    <mz-parallax>
        <img src="/assets/images/parallax1.jpg">
    </mz-parallax>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">High throughput</h5>

                    <p class="light">DeCP focuses on large batches of images rather than single image queries</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Lorem</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien
                        id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Lorem</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien
                        id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-wrapper">
    <div class="section valign-wrapper">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            </div>
        </div>
    </div>
    <mz-parallax>
        <img src="/assets/images/parallax2.jpg">
    </mz-parallax>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id,
                    viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum
                    ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-wrapper">
    <div class="section valign-wrapper">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            </div>
        </div>
    </div>
    <mz-parallax>
        <img src="/assets/images/parallax3.jpg">
    </mz-parallax>
</div>
