<header>
    <mz-navbar>
        <div class="container">
            <a routerLink="" class="brand-logo">{{ utilities.TITLE }}</a>
            <mz-navbar-item-container [align]="'right'">
                <mz-navbar-item><a routerLink="admin">Admin</a></mz-navbar-item>
                <mz-navbar-item><a routerLink="query">Query</a></mz-navbar-item>
                <mz-navbar-item><a routerLink="results">Results</a></mz-navbar-item>
            </mz-navbar-item-container>
        </div>

    </mz-navbar>
</header>

<main>
    <router-outlet>
    </router-outlet>
</main>

<footer class="page-footer indigo">
    <div class="footer-copyright">
        <div class="container center">
            Made with <i class="material-icons red-text">favorite</i> using <a href="http://materializecss.com/">Materialize</a> and <a href="https://angular.io/">Angular</a>
            <a class="block" href="https://github.com/elgerpus/DeCP">GitHub Repo</a>
        </div>
    </div>
</footer>
