<header>
    <mz-navbar>
        <div class="container">
            <a routerLink="" class="brand-logo">{{ title }}</a>
            <mz-navbar-item-container [align]="'right'">
                <mz-navbar-item><a routerLink="spark">Spark</a></mz-navbar-item>
                <mz-navbar-item><a routerLink="query">Query</a></mz-navbar-item>
                <mz-navbar-item><a routerLink="results">Results</a></mz-navbar-item>
            </mz-navbar-item-container>
        </div>

    </mz-navbar>
</header>

<main>
    <router-outlet>
    </router-outlet>
</main>

<footer class="page-footer indigo">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">TODO</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id,
                    viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            Made with <i class="material-icons red-text">favorite</i> using <a href="http://materializecss.com/">Materialize</a> and <a href="https://angular.io/">Angular</a>
        </div>
    </div>
</footer>
