<div class="container">

    <div class="row">
        <div class="col s12">
            <h2>Query</h2>
        </div>
    </div>

    <mz-card>
        <mz-card-title>
            <div class="row">
                <div class="col s6">
                    Selected images: {{ selected.length }}
                </div>
                <div class="col s6">
                    <button mz-button class="right indigo lighten-2" [large]="true" [disabled]="!selected.length" (click)="selected.length = 0">
                        Clear
                    </button>
                </div>
            </div>
        </mz-card-title>
        <mz-card-content>
            <div class="row">
                <div *ngFor="let image of pages[currentPage-1]" class="col s3">
                    <div class="overlay-container hoverable" (click)="onImage(image)">
                        <div class="selected-overlay valign-wrapper" *ngIf="isSelected(image)">
                            <i class="material-icons white-text">check</i>
                        </div>
                        <img src="{{image}}">
                        <div class="overlay">
                            <div class="row">
                                <div class="col s12">
                                    <span>ID: {{ utilities.getImageID(image) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center">
                        <ul class="pagination">
                            <li [ngClass]="{'active': currentPage === 1, 'waves-effect': currentPage !== 1}" (click)="onFirstPage()"><a><i class="material-icons">first_page</i></a></li>
                            <li [ngClass]="{'active': currentPage === 1, 'waves-effect': currentPage !== 1}" (click)="onPageDown()"><a><i class="material-icons">chevron_left</i></a></li>

                            <li *ngFor="let page of pages; let i = index" [ngClass]="{'active': (currentPage - 1) === i, 'waves-effect': (currentPage - 1) !== i}" (click)="currentPage = i + 1"><a>{{i+1}}</a></li>

                            <li [ngClass]="{'active': currentPage === pages.length, 'waves-effect': currentPage !== pages.length}" (click)="onPageUp()"><a><i class="material-icons">chevron_right</i></a></li>
                            <li [ngClass]="{'active': currentPage === pages.length, 'waves-effect': currentPage !== pages.length}" (click)="onLastPage()"><a><i class="material-icons">last_page</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </mz-card-content>
    </mz-card>

    <div class="row">
        <div class="col s12">
            <button mz-button [large]="true" class="full-width" [disabled]="!selected.length" (click)="onSubmit()">
                Submit
              </button>
        </div>
    </div>
</div>
