<div class="container">

    <div class="row">
        <div class="col s12">
            <h2>Query</h2>
        </div>
    </div>

    <mz-card>
        <mz-card-title>
            Select images
        </mz-card-title>
        <mz-card-content>
            <div class="row">
                <div *ngFor="let image of imageIDs" class="col s3">
                    <div class="overlay-container" (click)="onImage(utilities.getImageID(image))">
                        <img src="{{image}}" class="hoverable">
                        <div class="overlay">
                            <div class="row">
                                <div class="col s12">
                                    <span>ID: {{utilities.getImageID(image)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mz-card-content>
    </mz-card>

    <div class="row">
        <div class="col s12">
            <button mz-button [large]="'true'" class="full-width" [disabled]="!selected.length">
                Submit
              </button>
        </div>
    </div>
</div>
